{% extends 'base.html.twig' %}

{% block title %}Spend Edit{% endblock %}

{% block body %}
    <div id="header" class="jumbotron">
        <h1 class="jumbotron">Edition des dépenses</h1>
        <a class="btn btn-primary btn-lg" href="{{ path('spend_index') }}">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>

    </div>

    <div class="container-fluid">

        {{ form_start(edit_form) }}
        <div class="row">
            <div class="col-lg-offset-1 col-lg-11">
                {{ form_widget(edit_form) }}
            </div>
        </div>
        {{ form_end(edit_form) }}

        <div class="row">
            <div class="col-lg-offset-1 col-lg-11">
                <ul class="">
                    <li>
                        <a href="{{ path('spend_index') }}" class="btn btn-primary">
                            <i class="glyphicon glyphicon-chevron-left"></i>
                            Retour à la liste
                        </a>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-success">
                            <i class="glyphicon glyphicon-edit"></i>
                            Valider l'annonce
                        </button>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                        <button type="submit" class="btn btn-danger">
                            <i class="glyphicon glyphicon-trash"></i>
                            Supprimer l'annonce
                        </button>
                        {{ form_end(delete_form) }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
