{% extends 'base.html.twig' %}

{% block title %}Spend{% endblock %}

{% block body %}

    <div id="header" class="jumbotron">
        <h1>Liste des Sorties/Dépenses</h1>
        <a class="btn btn-success btn-lg" href="{{ path('spend_new') }}">
            <i class="glyphicon glyphicon-plus"></i>
            Créer une nouvelle entrée
        </a>
    </div>

    <div class="container-fluid">

        <table class="table table-hover">
            <thead>
            <tr>
                {#<th>Id</th>#}
                <th>Libellé</th>
                <th>Type</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Paiement groupé</th>
                <th>Photo</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for spend in spends %}
                <tr>
                    {#<td><a href="{{ path('spend_show', { 'id': spend.id }) }}">{{ spend.id }}</a></td>#}
                    <td><a href="{{ path('spend_show', { 'id': spend.id }) }}">{{ spend.spendLibel }}</a></td>
                    <td>{{ spend.spendType }}</td>
                    <td>{% if spend.spendDate %}{{ spend.spendDate|date('d-m-Y')|nl2br }}{% endif %}</td>
                    <td>{{ spend.spendMontant }}</td>
                    <td>{% if spend.spendGroupIndiv %}Oui{% else %}Non{% endif %}</td>
                    {#<td>{{ spend.spendPhoto }}</td>#}
                    <td><img class="image_spend" src="{{ asset('uploads/photosSpends/') }}{{ spend.spendPhoto }}"></td>
                    <td>
                        <ul class="nopuce">
                            <li>
                                <a href="{{ path('spend_show', { 'id': spend.id }) }}" class="btn btn-primary"
                                   id="place-btn">
                                    <i class="glyphicon glyphicon-eye-open"></i>
                                    Voir
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('spend_edit', { 'id': spend.id }) }}" class="btn btn-primary"
                                   id="place-btn">
                                    <i class="glyphicon glyphicon-edit"></i>
                                    Modifier
                                </a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
