{% extends 'base.html.twig' %}

{% block title %}Spend New{% endblock %}

{% block body %}

    <div id="header" class="jumbotron">
        <h1>Spend creation</h1>
        <a class="btn btn-primary btn-lg" href="{{ path('spend_index') }}">
            <i class="glyphicon glyphicon-plus"></i>
            Retour à la liste
        </a>

    </div>

    <div class="container-fluid">
        {{ form_start(form) }}

        {{ form_label(form.spendUserId, 'C ki ka payé ?') }}
        {{ form_errors(form.spendUserId) }}
        {{ form_widget(form.spendUserId) }}

        <input style="display: block" type="submit" value="Create"/>
        {{ form_end(form) }}

        <ul class="nopuce">
            <li>
                <a href="{{ path('spend_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
