{% extends 'base.html.twig' %}

{% block title %}Spend New{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1>Spend creation</h1>

        {{ form_start(form) }}

        {{ form_label(form.spendUserId, 'C ki ka payé ?') }}
        {{ form_errors(form.spendUserId) }}
        {{ form_widget(form.spendUserId) }}

        <input style="display: block" type="submit" value="Create"/>
        {{ form_end(form) }}

        <ul>
            <li>
                <a href="{{ path('spend_index') }}">Back to the list</a>
            </li>
        </ul>
    </div>
{% endblock %}
