{% extends 'base.html.twig' %}

{% block title %}Spend New{% endblock %}

{% block body %}

    <div id="header" class="jumbotron">
        <h1>Spend creation</h1>
        <a class="btn btn-primary btn-lg" href="{{ path('spend_index') }}">
            <i class="glyphicon glyphicon-plus"></i>
            Retour à la liste
        </a>

    </div>

    <div class="container-fluid">
        {{ form_start(form) }}

        {{ form_label(form.spendUserId, 'C ki ka payé ?') }}
        {{ form_errors(form.spendUserId) }}
        {{ form_widget(form.spendUserId) }}
        {{ form_rest(form) }}

        <ul class="nopuce">
            <li>
                <button type="submit" class="btn btn-success"/>
                <i class="glyphicon glyphicon-ok"></i>
                Ajouter
                </button>
            </li>

            <li>
                <a href="{{ path('spend_index') }}" class="btn btn-primary">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                    Retour à la liste
                </a>
            </li>
        </ul>
        {{ form_end(form) }}

    </div>
{% endblock %}
