{% extends "base.html.twig" %}

{% block body %}
    <h1 class="slogan">Les bons comptes font les bons amis ;-) !</h1>

        <section id="photostack-1" class="photostack photostack-start">
            <div>
                <figure>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/1.jpg') }}" alt="img01"/></a>
                     <figcaption>
                        <h2 class="photostack-title">Serenity Beach</h2>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/2.jpg') }}" alt="img02"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Happy Days</h2>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/3.jpg') }}" alt="img03"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Beautywood</h2>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/hollidays/img/4.jpg') }}" alt="img04"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Heaven of time</h2>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/5.jpg') }}" alt="img05"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Speed Racer</h2>
                    </figcaption>
                </figure>
                <figure>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/6.jpg') }}" alt="img06"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Forever this</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/7.jpg') }}" alt="img07"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Lovely Green</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/hollidays/img/8.jpg') }}" alt="img08"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Wonderful</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/9.jpg') }}" alt="img09"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Love Addict</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/10.jpg') }}" alt="img10"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Friendship</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/11.jpg') }}" alt="img11"/></a>
                    <figcaption>
                        <h2 class="photostack-title">White Nights</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/hollidays/img/12.jpg') }}" alt="img12"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Serendipity</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/13.jpg') }}" alt="img13"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Pure Soul</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/14.jpg') }}" alt="img14"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Winds of Peace</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/15.jpg') }}" alt="img15"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Shades of blue</h2>
                    </figcaption>
                </figure>
                <figure data-dummy>
                    <a href="#" class="photostack-img"><img src="{{ asset('bundles/holidays/img/16.jpg') }}" alt="img16"/></a>
                    <figcaption>
                        <h2 class="photostack-title">Lightness</h2>
                    </figcaption>
                </figure>
            </div>
        </section>

        {% block javascripts %}
            <script src={{ asset('bundles/holidays/js/modernizr.min.js') }}></script>
            <script src={{ asset('bundles/holidays/js/classie.js') }}></script>
            <script src={{ asset('bundles/holidays/js/photostack.js') }}></script>
            <script>
                // [].slice.call( document.querySelectorAll( '.photostack' ) ).forEach( function( el ) { new Photostack( el ); } );

                new Photostack( document.getElementById( 'photostack-1' ), {
                    callback : function( item ) {
                        //console.log(item)
                    }
                } );
                new Photostack( document.getElementById( 'photostack-2' ), {
                    callback : function( item ) {
                        //console.log(item)
                    }
                } );
                new Photostack( document.getElementById( 'photostack-3' ), {
                    callback : function( item ) {
                        //console.log(item)
                    }
                } );
            </script>
        {% endblock %}

{% endblock %}
